#searchApp, #intro, #footer {
    max-width: 960px;
    margin: auto;
}

.card.closed {
    background-color: #f5f5f5;
    cursor: pointer;
}

.card.closed .card-title{
    margin: 0;
}

.chart {
    width: 100%;
}

.search-examples {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}