#searchApp, #intro, #footer {
    max-width: 960px;
    margin: auto;
}

.card.closed {
    background-color: #f5f5f5;
    cursor: pointer;
}

.card.closed .card-title{
    margin: 0;
}

.chart {
    width: 100%;
}

.search-examples {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.social_media a {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.social_media a svg {
    height: 2rem;
    width: 2rem;
    margin-right: 5px;
}

.social_media .bi-rss-fill:hover {
    color: #f59237;
}

.social_media .bi-facebook:hover {
    color: #3b5998;
}

.social_media .bi-twitter:hover {
    color: #1da1f2;
}

.social_media .bi-linkedin:hover {
    color: #0077b5;
}